[class*="__container"] {
    padding: 0 15px;
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

.heading {
    display: flex;
    gap: 30px;
    @media (max-width: 950px) {
        gap: 15px;
    }

    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 72px;
        color: white;
          
        @media (max-width: 450px) {
            flex-wrap: nowrap; 
            font-size: 34px;
            line-height: 57px;
        }
        @media (max-width: 350px) {
            font-size: 28px;
            line-height: 45px;
        }
    }
}

.video {
    display: flex;
    gap: 45px;

    @media (max-width: 400px) {
        gap: 10px 20px;
        justify-content: center;
    }

    @media (max-width: 400px) {
        flex-wrap: wrap;
    }

    &__play {
        width: 25px;
        height: 22px;
    }

    &__line {
        position: relative;
        width: 100%;
        height: 2px;
        background-color: white;
        align-self: center;
        overflow: visible;
        @media (max-width: 400px) {
            width: 100%;
           
            order: -1;
        }
        &::after {
            content: '';
            position: absolute;
            width: 70px;
            height: 2px;
            border: 2px solid #7A66CC;
            left: 0;
            top: 0;
        }

        &::before {
            content: '';
            position: absolute;
            width: 3px;
            height: 20px;
            border: 2px solid #7A66CC;
            left: 70px;
            top: -8px;
        }
    
    }


      
    
    &__time {
        color: white;
        white-space: nowrap;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
    }
}

.ticket {
    background-color: rgb(52, 48, 48);
    border-radius: 30px 0 30px 0;
    &__img {
        border-radius: 30px 0 30px 0;
    }

    &__location {
        padding: 30px 0 20px 35px;

        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        color: grey;
    }

    &__title {
        padding: 0 0 30px 35px;

        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        color: white;
    }

    &__bottombar {
        display: flex;
        justify-content: space-between;
        padding-left: 40px;
    }

    &__data {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        color: gray;
    }

    &__button { 
        padding: 20px 60px 20px 50px; 

        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        color: white;
        
        background-color: #7A66CC;
        border-radius: 30px 0 30px 0;
    }
}